anitomy-osx/.DS_Store
anitomy-osx/anitomy/.DS_Store
anitomy-osxTests/.DS_Store
anitomy-osxTests/en.lproj/.DS_Store
build
.DS_Store
anitomi-for-osx-demo/anitomy-for-osx-demo.xcodeproj/xcuserdata/takanashirikka.xcuserdatad/xcschemes/xcschememanagement.plist
anitomy-osx.xcodeproj/project.xcworkspace/xcuserdata/takanashirikka.xcuserdatad/UserInterfaceState.xcuserstate
anitomy-osx.xcodeproj/xcuserdata/takanashirikka.xcuserdatad/xcschemes/xcschememanagement.plist
anitomy-swift-demo/anitomy-swift-demo.xcodeproj/xcuserdata/takanashirikka.xcuserdatad/xcschemes/xcschememanagement.plist